.sot{
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 0;
}
.sot > table{
	table-layout: fixed;
	position: relative;
	border-collapse: separate !important;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	width:100%;
	border-width:0px;
	overflow: visible;
	background-color: #fff;
}
.sot-width-auto  > table{
	width:auto;
}
.sot td ,.sot th{
	border: 1px solid #ccc;
}
.sot-top{
	position: sticky;
	top:0;
	z-index: 20;
	background-color: #fff;
}
.sot-left{
	position: sticky;
	left: 0;
	z-index: 10;
	background-color: #fff;
}
.sot-top.sot-left{
	z-index: 30;
}
