.sot{
	overflow: auto;
	box-sizing: border-box;
}
.sot table{
	table-layout: fixed;
	position: relative;
	border-collapse: separate !important;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	/* width:auto; */
	width:100%;
}
.sot td , .sot th{
	border: 1px solid #ccc;
	background-color: #fff;
}
.sot-top{
	position: sticky;
	top:0;
	z-index: 20;
}
.sot-left{
	position: sticky;
	left: 0;
	z-index: 10;
}
.sot-top.sot-left{
	z-index: 30;
}
